<div class="container">
	<%= render partial: 'header' %>
	<%= render partial: 'nav' %>


	<div class="col-lg-9">
		<% @articles.each do |article| %>
			<div>
				<h2><%= article.title %></h2>
				<article>
				<%= article.body %>
				</article>
				<hr>
			</div>
		<% end %>
	</div>
	
	<div class="col-lg-3">
		<%= render partial: 'side' %>
	</div>

	<%= render partial: 'footer' %>

</div>